@page "/NavMenu"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components.Routing

@* CSS Link *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<link rel="stylesheet" href="css/sidebar" />

@* JavaScript Import *@
<script src="js/sidebar.js"></script>

<div class="menu">
    <ul>
        <!-- Home -->
        <li class="item active">
            <i class="fa-solid fa-house-user"></i>
            <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All" @onclick="HandleClick">
                Home
            </NavLink>
        </li>

        <!-- User Section -->
        <li class="item">
            <i class="fa-solid fa-user"></i> Users <i class="fa-solid fa-chevron-down"></i>
            <ul>
                <li>
                    <NavLink class="nav-link" href="/NewProfile" @onclick="HandleClick">Add Profile</NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="/UserProfile" @onclick="HandleClick">User Profile</NavLink>
                </li>
            </ul>
        </li>

        <!-- Transaction Section -->
        <li class="item">
            <i class="fa-solid fa-tasks"></i> Transactions <i class="fa-solid fa-chevron-down"></i>
            <ul>
                <li>
                    <NavLink class="nav-link" href="/Transactions" @onclick="HandleClick">Transactions</NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="/Tags" @onclick="HandleClick">Tags</NavLink>
                </li>
            </ul>
        </li>

        @* debt Section *@
        <li class="item">
            <i class="fa-solid fa-tasks"></i> Debt <i class="fa-solid fa-chevron-down"></i>
            <ul>
                <li>
                    <NavLink class="nav-link" href="/Debts" @onclick="HandleClick">Debt</NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="/Source" @onclick="HandleClick">Source</NavLink>
                </li>
            </ul>
        </li>

        <!-- LogOut -->
        <li class="item">
            <i class="fa fa-sign-out"></i>
            <NavLink class="nav-link" href="/" @onclick="HandleClick">Logout</NavLink>
        </li>
        <div id="action" class=""></div>
    </ul>
</div>

@code {
    private async Task HandleClick(MouseEventArgs args)
    {
        // Call JavaScript to reload the page
        await JSRuntime.InvokeVoidAsync("eval", "window.location.reload()");
    }

}