@page "/Test"

@* Directive Statement Imports *@
@using ExpenseVoid.Models
@using ExpenseVoid.Services
@using ExpenseVoid.Interface
@using Microsoft.JSInterop
@using System.Net.Mail
@using System.Net

@* Dependency Injection *@
@inject IUser userService
@inject IJSRuntime JSRuntime

<h3>Test</h3>

@code {

}
