input[type="color"] {
    -webkit-appearance: none;
}

    input[type="color"]::-webkit-color-swatch-wrapper {
        border-radius: 20px;
    }

    input[type="color"]::-webkit-color-swatch {
        border-radius: 20px;
    }
